controllerManager:
  affinity:
    enable: true
    topologyKey: topology.kubernetes.io/zone
  manager:
    initContainers: []
    args:
      - --metrics-bind-address=:8443
      - --leader-elect
      - --health-probe-bind-address=:8081
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
    image:
      repository: marlapativ/cve-operator
      tag: latest
    imagePullPolicy: IfNotPresent
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 64Mi
  replicas: 1
  serviceAccount:
    annotations: {}
kubernetesClusterDomain: cluster.local
metricsService:
  ports:
    - name: https
      port: 8443
      protocol: TCP
      targetPort: 8443
  type: ClusterIP

secrets:
  dockerhubconfigjson: ''

networkPolicy:
  ingress:
    - from:
      - podSelector: {}
  egress:
    - to:
      - namespaceSelector:
          matchLabels:
            kubernetes.io/metadata.name: kafka
    - to:
      - ipBlock:
          cidr: 0.0.0.0/0

pdb:
  create: true
  minAvailable: 1
  maxUnavailable: {}

autoscaling:
  hpa:
    enabled: true
    minReplicas: 1
    maxReplicas: 3
    targetCPU: 85
    targetMemory: 85
