controllerManager:
  affinity:
    enable: true
    topologyKey: topology.kubernetes.io/zone
  manager:
    initContainers: []
    args:
    - --metrics-bind-address=:8443
    - --leader-elect
    - --health-probe-bind-address=:8081
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
    image:
      repository: marlapativ/cve-operator
      tag: latest
    imagePullPolicy: IfNotPresent
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
  replicas: 1
  serviceAccount:
    annotations: {}
kubernetesClusterDomain: cluster.local
metricsService:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: 8443
  type: ClusterIP

secrets:
  dockerconfigjson: ""

githubReleasesMonitor:
  owner: ""
  repo: ""
  monitorFrom: "now"
  githubReleaseJob:
    image:
      name: "processor"
      repository: marlapativ/webapp-cve-processor
      tag: latest
      pullPolicy: Always
      resources:
        limits:
          cpu: 150m
          memory: 128Mi
        requests:
          cpu: 100m
          memory: 100Mi
    kafka:
      secrets:
        username: ""
        password: ""
      env: {}

